<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="mainmenu.css">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About our team</h1>
            <p class="lead fw-normal text-white-50 mb-0">Copyright Team.44</p>
            <p class="lead fw-normal text-white-50 mb-0">Milord Ishikwa</p>
            <p class="lead fw-normal text-white-50 mb-0">Master Hellcat404</p>
            <p class="lead fw-normal text-white-50 mb-0">Lord Dddock</p>




        </div>
    </div>
</header>

</body>
</html>