<header th:fragment="header" class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img th:src="@{logo.png}" class="bi me-2" width="70" height="60" aria-label="Bootstrap"/>
            </a>
            <ul class="menu ">
                <li style="border-radius:5% 0 0 5% / 10% 0 0 10%;">
                    <a style="border-radius:5% 0 0 5% / 10% 0 0 10%;" href="#">item-1</a>
                    <ul>
                        <li style="border-radius: 5px"><a style="border-radius: 5px" href="#">subitem-1</a></li>
                        <li style="border-radius: 5px">
                            <a style="border-radius: 5px" href="#">subitem-2</a>
                            <ul>
                                <li style="border-radius: 5px" ><a style="border-radius: 5px" href="#">subitem-7</a></li>
                                <li style="border-radius: 5px" ><a style="border-radius: 5px" href="#">subitem-8</a></li>
                                <li style="border-radius: 5px" ><a style="border-radius: 5px" href="#">subitem-9</a></li>
                            </ul>
                        </li>
                        <li style="border-radius: 5px"><a style="border-radius: 5px" href="#">subitem-3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">item-2</a>
                    <ul>
                        <li style="border-radius: 5px"><a style="border-radius: 5px" href="#">subitem-4</a></li>
                        <li style="border-radius: 5px"><a style="border-radius: 5px" href="#">subitem-5</a></li>
                        <li style="border-radius: 5px">
                            <a style="border-radius: 5px" href="#">subitem-6</a>
                            <ul>
                                <li><a href="#">subitem-10</a></li>
                                <li><a href="#">subitem-11</a></li>
                                <li><a href="#">subitem-12</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">item-3</a></li>
                <li style="border-radius: 0 5% 5% 0 / 0 10% 10% 0;"><a href="/about">About</a></li>
<!--                <li style="border-radius: 0 5% 5% 0 / 0 10% 10% 0;"><a style="border-radius: 0 5% 5% 0 / 0 10% 10% 0;" href="/add">Add new</a></li>-->
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input style="margin-left: 20px;" type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <a style="margin-left: 15px;" href="/login" role="button" class="btn btn-outline-light me-2">Login</a>
                <a class="btn btn-warning" href="/SignUp" role="button">Sign Up</a>
            </div>
        </div>
    </div>
</header>